<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wswl.dao.AccountMapper">
    <resultMap id="AddressEntity" type="AddressEntity">
        <id property="id" column="id"/>
        <result property="base58Check" column="base58_check"/>
        <result property="HexAddress" column="hex_address"/>
        <result property="publicKey" column="public_key"/>
        <result property="privateKey" column="private_key"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insert">
    </insert>
    <insert id="insertAddress">
        insert into account(base58_check,hex_address,public_key,private_key) values
                            (base58Check,
                            HexAddress,
                            publicKey,
                            privateKey);
    </insert>
    <insert id="tranferAsset">
        insert into account(base58_check,hex_address,public_key,private_key) values
                            (base58Check,
                            HexAddress,
                            publicKey,
                            privateKey);
    </insert>
    <select id="getAddressEntity" resultMap="AddressEntity" parameterType="String" >
        select base58_check,hex_address,private_key from account WHERE hex_address = fromAddress;
    </select>
</mapper>